<!-- table_partial.html -->
<table>
    <thead>
        <tr>
            {% for header in table.headers %}
                <th>{{ header.title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
            <tr>
                {% for header in table.headers %}
                    <td>{{ row[header.key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

