{% macro render_header(header, total_columns) %}
    {% if header.position != -1 %}
        <th colspan="{{ header.colspan }}" rowspan="{{ header.rowspan }}" style="text-align: center;">{{ header.title }}</th>
    {% else %}
        {% for _ in range(total_columns) %}
            <th colspan="{{ header.colspan }}" rowspan="{{ header.rowspan }}" style="text-align: center;">{{ header.title }}</th>
        {% endfor %}
    {% endif %}
{% endmacro %}

<table class="table table-striped table-hover table-bordered">
    <thead>
        <!-- En-têtes principaux -->
        <tr>
            {% for header in table.headers %}
                {{ render_header(header, table.total_columns) }}
            {% endfor %}
        </tr>
        <!-- Sous-en-têtes -->
        {% if table.subheaders %}
            <tr>
                {% for subheader in table.subheaders %}
                    {{ render_header(subheader, table.total_columns) }}
                {% endfor %}
            </tr>
        {% endif %}
    </thead>
    <tbody>
        <!-- Lignes de données -->
        {% for row in table.rows %}
            <tr>
                {% for key in row %}
                    <td>{{ row[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{# <table class="table table-striped table-hover table-bordered">
    <thead>
        <!-- En-têtes principaux -->
        <tr>
            {% for header in table.headers %}
                <th colspan="{{ header.colspan }}" rowspan="{{ header.rowspan }}">{{ header.title }}</th>
            {% endfor %}
        </tr>
        <!-- Sous-en-têtes -->
        {% if table.subheaders %}
            <tr>
                {% for subheader in table.subheaders %}
                    <th colspan="{{ subheader.colspan }}">{{ subheader.title }}</th>
                {% endfor %}
            </tr>
        {% endif %}
    </thead>
    <tbody>
        <!-- Lignes de données -->
        {% for row in table.rows %}
            <tr>
                {% for key in row %}
                    <td>{{ row[key] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table> #}
