<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <button id="loadTable" class="btn btn-primary">Charger le Tableau</button>
        <div id="table-container" class="mt-3"></div>
        <div id="table-with-subheaders-container" class="mt-3"></div>
    </div>

    <script>
        document.getElementById('loadTable').addEventListener('click', function() {
            const tableData = {
                "rows": [
                    {"name": "MORANE", "phone": "0712345678"},
                    {"name": "CHACAL", "phone": "0712345679"}
                ],
                "headers": [
                    {"title": "Nom de Famille", "key": "name"},
                    {"title": "Numéro de Téléphone", "key": "phone"}
                ]
            }

            {# const TableWithSubheadersData = {
                "total_columns": 4,
                "headers": [
                    {"title": "Informations Personnelles", "colspan": 2, "rowspan": 1, "position": -1},
                    {"title": "Informations Professionnelles", "colspan": 2, "rowspan": 1, "position": -1}
                ],
                "subheaders": [
                    {"title": "Nom", "colspan": 1, "rowspan": 1, "position": 1},
                    {"title": "Âge", "colspan": 1, "rowspan": 1, "position": 2},
                    {"title": "Entreprise", "colspan": 1, "rowspan": 1, "position": 3},
                    {"title": "Poste", "colspan": 1, "rowspan": 1, "position": 4}
                ],
                "rows": [
                    {"name": "Alice", "age": 30, "company": "Acme Corp", "position": "Ingénieur"},
                    {"name": "Bob", "age": 35, "company": "Byte Ltd", "position": "Développeur"}
                ]
            } #}

            const TableWithSubheadersData = {
                "total_columns": 4,
                "headers": [
                    {"title": "Informations Personnelles", "colspan": 2, "rowspan": 1, "position": 1},
                    {"title": "Informations Professionnelles", "colspan": 2, "rowspan": 1, "position": 3}
                ],
                "subheaders": [
                    {"title": "Nom", "colspan": 1, "rowspan": 1, "position": 1},
                    {"title": "Âge", "colspan": 1, "rowspan": 1, "position": 2},
                    {"title": "Entreprise", "colspan": 1, "rowspan": 1, "position": 3},
                    {"title": "Poste", "colspan": 1, "rowspan": 1, "position": 4}
                ],
                "rows": [
                    {"name": "Alice", "age": 30, "company": "Acme Corp", "position": "Ingénieur"},
                    {"name": "Bob", "age": 35, "company": "Byte Ltd", "position": "Développeur"}
                ]
            }


            fetch('/generate-table', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(tableData)
            })
            .then(response => response.text())
            .then(html => {
                document.getElementById('table-container').innerHTML = html;
            });

            fetch('/generate-table-with-subheaders', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(TableWithSubheadersData)
            })
            .then(response => response.text())
            .then(html => {
                document.getElementById('table-with-subheaders-container').innerHTML = html;
            });
        });
    </script>
</body>
</html>

